/[Tt]estProj/*.bat

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

GPhyTestBed/TestProj/setenv.bat
GPhyTestBed/TestProj/compile.bat
GPhyTestBed/Assignment-Proj/setenv.bat
GPhyTestBed/Assignment-Proj/compile.bat
GPhyTestBed/Assignment-Proj/setenv.bat
GPhyTestBed/Assignment-Proj/compile.bat
*.bat
